---
title: First component display page
component: first-comp
eleventyNavigation:
  key: first display page
---
{# Using Nunjucks to avoid Markdown wrapping the web component in a paragraph tag #}

<p>Displaying the WC in a sub folder</p>

<first-comp></first-comp>
