---
title: hello world display page
component: hello-world
eleventyNavigation:
  key: hello world display page
---
{# Using Nunjucks to avoid Markdown wrapping the web component in a paragraph tag #}

<p>Displaying the WC in a sub folder</p>

<hello-world></hello-world>
