---
title: Display my first WC
component: first-comp
---
{# Using Nunjucks to avoid Markdown wrapping the web component in a paragraph tag #}

<p>display the first WC - it is an h2 messge</p>

<first-comp></first-comp>

